HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.ids
*.orig

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Directories

/build/
/bin/
/deploy/

### Logs
*.log

### Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

### Maven
log/
target/

### Other
*.class
*.*~
*~
.merge_file*

### Packaeg files
*.jar
*.war
*.ear
*.db

# Folder config file
Desktop.ini

## Mac OS X
.DS_Store
.svn
